
'.vtlf-form':
  'tab':        'view-tail-large-files:focus-next'
  'shift-tab':  'view-tail-large-files:focus-previous'
  
  'up':         'view-tail-large-files:up'
  'down':       'view-tail-large-files:down'
  
  'pageup':    'view-tail-large-files:pgup'
  'pagedown':  'view-tail-large-files:pgdown'

  'ctrl-enter': 'view-tail-large-files:parent'
  